{% extends '::base.html.twig' %}

{% block body %}


    <img src="{{ asset('bundles/app/img/apidocless_logo.png') }}">

    <div class="ui red segment">
        <h1>Hello</h1>
        <hello></hello>
    </div>

{% endblock body %}